.home-page {
    margin-block-start: 200px;
    text-align: center;
}

.home-page img {
    /* max-width: 300px; */
    max-height: 300px;
}

.gmail-big-logo {
    margin-inline-end: 100px;
}

.keep-big-log {}