.note-add-section {
    display: grid;
    border: 1px solid black;
    max-width: 700px;
    margin: 20px auto;
}

.note-add-section {
    border-radius: 10px;
}

.note-add-section input {
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 10px;
}

.note-add-form {
    display: grid;
}

.note-add-actions-bar {
    display: flex;
    justify-content: space-around;
}