.note-add-section {
    display: grid;
    border: 1px solid black;
    width: 400px;
    margin: 20px auto;
}

.note-add-section input {
    border: none;
    outline: none;
    font-size: 20px;
}

.keep-note-add-actions-bar {
    opacity: 0;
    transition: opacity 0.6s ease
}