.note-card {
    list-style-type: none;
    border: 1px solid #cccccc9d;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    break-inside: avoid;
    text-align: center;
    font-family: 'Roboto';
    color: black;
    /* font-weight: bold; */

    transform: translateX(0);
    animation-fill-mode: both;

    animation-name: pinNote;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
}

.note-card:hover {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}

.note-card li {
    text-align: start;
    font-size: 20px;
}

.note-card p {
    font-size: 20px;
}

.note-card img {
    border-radius: 10px;
}

.note-card h3 {
    font-size: 24px;
}



.note-card .material-symbols-outlined {
    padding: 3px;
    cursor: pointer;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.note-card .material-symbols-outlined.fill {
    padding: 3px;
    font-variation-settings:
        'FILL' 1
}

.note-preview-actions-bar {
    opacity: 0;
    transition: opacity 0.6s ease;
    display: flex;
    justify-content: space-around;
    margin-block-start: 20px;
}

.note-preview-actions-bar span {
    border-radius: 50%;
}

.note-preview-actions-bar span:hover {
    background-color: rgba(173, 173, 173, 0.315);
}


.note-card:hover .note-preview-actions-bar {
    opacity: 1;
}

.color-palette {
    /* position: absolute; */
    margin-block-start: 18px;
    z-index: 9999;
}

.color-circle {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 4px;
    cursor: pointer;
    border: 1px solid gray;
}

.color-circle:hover {
    border: 3px solid black;
}

.note-card.pinned {
    border: 2px solid black;

    animation-name: pinNote;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
}


@keyframes pinNote {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}