.edit-note input {
    width: 100%;
}

.edit-cancel-btn,
.edit-save-btn {
    background-color: transparent;
    cursor: pointer;
    padding: 8px 24px;
    border: none;
    margin-block-start: 10px;
    border-radius: 6px;
}

.edit-cancel-btn:hover,
.edit-save-btn:hover {
    background-color: rgba(95, 99, 104, 0.356);
}

.edit-input {
    border: none;
    outline: none;
    border-radius: 5px;
    margin-block-end: 5px;
}