.mail-details {
    font-family: roboto;
    background-color: var(--clr1);
    border-radius: 1rem;
    grid-column: 2;
    grid-row: 2;
}

.mail-details h2 {
    margin: 0;
    padding: 20px 0 8px 72px;
}

.mail-details h3 {
    margin: 0;
}

.wrapper {
    display: flex;
    padding: 20px 20px 0 0;
}

.sender-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-inline: 16px;
}

.mail-details .close-btn {
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.mail-details .close-btn:hover {
    background-color: rgba(95, 99, 104, 0.039);
    border-radius: 3px;
}