.mail-index {
    font-family: roboto;
    font-size: 0.875em;
}

.mail-main-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 256px auto;
}

.cb-sb {
    background-color: var(--clr6);
}

.cb-sb .logo {
    margin-inline-start: 4.6em;
    margin-block-start: 0.875em;
}

.home-btn {
    background-color: transparent;
    border: none;
}

.mail-main-container .compose-btn {

    display: flex;
    margin-inline-start: 0.6em;
    margin-block-start: 1.1em;
    padding: 0.8em;
    align-items: center;
    border: none;
    border-radius: 16px;
    background-color: var(--clr7);
    font-weight: 600;
    color: #001d35;
    font-size: 0.875rem;
    width: 142px;
    height: 56px;

    transition: box-shadow .08s linear, min-width .15s cubic-bezier(0.4, 0, 0.2, 1);
}

.compose-btn .material-symbols-outlined {
    padding-right: 15px;
    padding-left: 5px;

}

.mail-main-container .compose-btn:hover {
    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302), 0 4px 8px 3px rgba(60, 64, 67, 0.149);
}