.mail-filter {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--clr6);
}

.mail-filter input {
    font-size: 1.2em;
    border: none;
    width: 720px;
    height: 48px;
    outline: none;
    background-color: var(--clr9);
}

.mail-filter label {
    display: flex;
    width: 720px;
    height: 48px;
    background-color: var(--clr9);
    align-items: center;
    padding-inline: 5px;
    border: 1px solid transparent;
    border-radius: 30px;
}

.user-btn {
    margin-inline-end: 10px;
    padding-bottom: 5px;
    font-size: large;
    border: none;
    background-color: rgb(1, 87, 155);
    color: rgb(255, 255, 255);
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

mail-user-profile {
    display: flex;
    align-items: center;
}

.mail-filter label:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302), 0 4px 8px 3px rgba(60, 64, 67, 0.149);
}

.mail-filter input:hover {
    background-color: rgb(255, 255, 255)
}