.mail-header-container {
    display: flex;
    align-items: center;
}

.mail-header-container .compose-btn {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-inline: 1em;
    margin-block: 20px;
    padding: 1em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 15px;
    background-color: var(--clr7);
    font-weight: 500;
    width: 142px;
    transition: 0.2s;

}

.mail-header-container .compose-btn:hover {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;

}