/* .mail-preview {
    display: flex;
    align-items: center;
}

.mail-preview span {
    font-size: 1em;
    font-weight: 900;
    margin-inline-start: 10px;
}

.mail-preview span:last-child {
    font-weight: 400;
} */