 .mail-preview-container {
     display: grid;
     grid-template-columns: 1fr auto;
 }

 .mail-attr {
     display: grid;
     grid-template-columns: 1fr 13fr;
 }

 .mail-preview-container .date {
     padding-right: 5px;
 }

 .mail-subject {
     padding-right: 5px;
 }

 .mail-body {
     color: var(--clr3);
     font-weight: 400;
 }