 .mail-preview-container {
     display: flex;
     align-items: center;
     justify-content: space-between;
     width: 100%;
 }

 .mail-attr {
     display: flex;
     width: 100%;
 }

 .mail-preview-container .date {
     width: 4em;
 }

 .mail-sender {
     width: 12.5em;
     padding-right: 2em;
 }

 .mail-subject {
     padding-right: 5px;
 }

 .mail-body {
     width: 100em;
     color: var(--clr3);
     font-weight: 400;
 }