.mail-index {
    font-family: roboto;
    font-size: 0.875em;
}

.mail-main-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 256px 1fr 16px;
    grid-template-rows: 60px 1fr 16px;
    height: 100vh;
    background-color: rgb(242, 246, 252);
}

.cb-sb .logo {
    margin-block-start: 8px;
    margin-inline-start: 4px;
}

.mail-main-container .compose-btn {
    display: flex;
    margin-inline-start: 0.6em;
    margin-block-start: 1.1em;
    padding: 0.8em;
    align-items: center;
    border: none;
    border-radius: 16px;
    background-color: var(--clr7);
    font-weight: 600;
    color: #001d35;
    font-size: 0.875rem;
    width: 142px;
    height: 56px;

    transition: box-shadow .08s linear, min-width .15s cubic-bezier(0.4, 0, 0.2, 1);
}

.compose-btn .material-symbols-outlined {
    padding-right: 15px;
    padding-left: 5px;

}

.mail-main-container .compose-btn:hover {
    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302), 0 4px 8px 3px rgba(60, 64, 67, 0.149);
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container button {
    margin-inline-start: 12px;
    margin-block-start: 8px;
    border-radius: 50%;
    min-height: 48px;
    min-width: 48px;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    font-variation-settings:
        'FILL' 0,
        'wght' 300,
        'GRAD' 0,
        'opsz' 48
}

.logo-container button:hover {
    background-color: rgb(229, 229, 229);
}

.compose-btn-mobile {
    display: none;
    border: none;
    border-radius: .5rem;
    padding: 1rem;
    position: fixed;
    bottom: 20px;
    right: 20px
}

@media (max-width: 890px) {

    .cb-sb {
        background-color: var(--clr1);
        position: fixed;
        z-index: 1;
        height: 100%;
        translate: -100% 0;
        transition: translate 1s ease-in-out;
    }

    .into-view {
        translate: unset;
    }

    .mail,
    .mail-attr,
    .mail-main-container {
        grid-template-columns: unset !important;
        display: unset;
    }

    .mail .mail-controls {
        display: none;
    }

    .mail .mail-icon {
        display: block;
        padding-inline: .5rem;
    }

    .mail-preview-container {
        grid-template-columns: auto 1fr auto !important;
    }

    .mail-hyphen {
        display: none !important;
    }

    .mail-search {
        width: unset !important;
    }

    .mail-filter {
        display: grid;
        grid-template-columns: 1fr auto;
        background-color: unset;
    }

    .mail-body {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        white-space: pre-wrap;
    }

    .mail-details,
    .mail-list {
        margin-inline-end: unset !important;
        border-radius: unset !important;
    }

    .mail-filter label {
        margin-inline-start: .5rem;
    }

    .remove-all {
        border-top-left-radius: unset !important;
        border-top-right-radius: unset !important;
    }

    .user-btn {
        margin-inline: 16px;
    }

    .compose-btn-mobile {
        display: flex;
    }

    .new-mail {
        height: 100vh !important;
        width: 100vw !important;
        right: unset !important;
    }
}